body {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 100pt;

}

.hero {
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .title  {
    font-size: 10pt;
    text-align: center;
    color: rgb(224, 165, 103);
    margin: 1 em
    padding-top: 25%


    /*margin-left: 1em;
    margin-right: 1em;
    padding: 20%;
    padding-top: 200px; */
}

.title h1 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
    font-style: italic;

}

.title h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
    font-size: .75em;
}

.hero .nav {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: rgb(224, 165, 103);
    margin-top: 2em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
}

.hero .nav a {
    flex-grow: 1;
    color: rgb(224, 165, 103);
    text-decoration: none;
}

.hero .nav-item {
    font-size: 0.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
}

.hero .nav-item:hover {
    color: #fff;
    background-color: rgba(224, 165, 103, 0.5);
}


@media (min-width: 981px) {
    .hero .title {
      font-size: 2em;

    }
}

@media (max-width: 980px) {
    .hero .title {
      font-size: .75em;
      padding-top: 20%;
      padding-bottom: 150px;
      padding: 10%;
    }
    .hero {
      height: 40vh;
    }
    .hero .title h1 {
      font-size: 2em
    }
    .hero .title h2 {
      font-size: 2em
    }

}




/* images */


.container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    background-color: rgb(192, 203, 207);
}

.container img {
    width: 100%;
    height: 60%;
}

.container .content-1 {
    width: 100%;
    padding: 1.5%;
    color: #fff;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
}

.contact-container {
    align-items: center;
    background-color: rgb(192, 203, 207);
    width: 100%;
    padding: 1.5%;
    color: #fff;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.container .content-2 {
  width: 100%;
  padding: 1.5%;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container .links {
  flex-direction: row;
  width: 15%;
  height: 15%;


}

@media (min-width: 650px) {
    .container img {
        width: 66.66666%;
    }
    .container .content-1 {
        width: 30.33333%;
        height: 100%;
    }
}
@media (max-width: 650px) {
    .container .content-1 {
      font-size: .75em;
    }
}
